.MessageBox {
    word-wrap: break-word;
    background: white;
}

.Message {
    font-size: 18px;
    background: rgb(202, 199, 199);
}

.Sender {
    float: right;
    border-radius: 15px 5px 5px 15px;
}

.Receiver {
    float: left;
    border-radius: 5px 15px 15px 5px;
}
